*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "oswald";
  src: url(../assets/fonts/static/Oswald-Regular.ttf);
}

@font-face {
  font-family: "oswald_bold";
  src: url(../assets/fonts/static/Oswald-Bold.ttf);
}

:root {
  font-family: "oswald", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  --header-bg-color: #00004d;
  --form-bg-color: #f2f2f2;
}

main{
  padding: 20px;
}


#root{
  background-color: #DCDCDC;
  /* width: 100%; */
  /* height: 100%; */
}

