*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input_control.success input{
  border-color: #09c372;
}

.input_control.error input, .input_control.error textarea{
  border-color: #ff3860;
}

.input_control.error{
  color: #ff3860;
  font-size: 9px;
  /* height: 13px; */
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}